@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply text-white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-neutral-900;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header_logo{
  width: 70px;
}

.nav li{
  cursor: pointer;
  position: relative;
}

.nav li::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  width: 0;
  background-color: #fff;
  transition: all .5s ease;
}

.nav li:hover::before{
  width: 100%;
}

.search svg path{
  fill: black;
}

.meal-enter {
  opacity: 0;
}
.meal-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.meal-exit {
  opacity: 1;
}
.meal-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-in;
}

.calculator-container {
  transition: width 0.5s ease;
}

.calculator-container-full {
  width: 100%;
}

.calculator-container-small {
  width: 70%;
}

.meal-list-enter {
  opacity: 0;
}

.meal-list-enter-active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.meal-list-exit {
  opacity: 1;
}

.meal-list-exit-active {
  opacity: 0;
  transition: opacity 500ms ease;
}

@media(max-width: 1024px){
  .calculator-container-small{
     width: 100%;
  }

  .calculator-container button{
    margin-bottom: 20px;
  }
}

@media(max-width: 768px){
  .header_logo{
    width: 40px;
  }
  .activity-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}